
body {
    background-image: url("/images/bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 70px;
}

.jumbo{
  position: relative;
  top: -20px;
  height: 450px;
  background-color: rgba(270,270,270,.6)!important;
  background-image: url("/images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-block {
    background-color: rgba(270,270,270,.6) !important;
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: Black;
    border-color: black;
}

.btn-secondary {
    color: white;
    background-color: black;
    border-color: black;
